.location {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding-right: 1rem;
}

.location--img {
  width: 12.5rem;
  height: 16.8rem;
  border-radius: 0.5rem;
}

.info {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.locate {
  display: flex;
  align-items: center;
  margin-bottom: 0.7rem;
}

.location--pointer {
  width: 0.7rem;
}

.location--country {
  letter-spacing: 0.17em;
  margin-left: 0.4rem;
}

.location--url {
  color: #918e9b;
  margin-left: 1.2rem;
}

.location--title {
  font-weight: 700;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.location--date {
  font-weight: 700;
  margin-bottom: 0.9rem;
}

.location--info {
  line-height: 1.5;
}
